<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card style="display: flex; flex-direction: column; align-items: center;">
    <ion-card style="display: flex; justify-content: center;">
      <ion-searchbar placeholder="Buscar..."></ion-searchbar>
      <ion-button>
        <ion-icon slot="start" name="search" aria-hidden="true"></ion-icon>
      </ion-button>
      
    </ion-card>
    
  </ion-card>
  <ion-content style="display: flex; justify-content: center; ">
    <ion-card style="max-width: 600px;">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
  
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
  
  <style>
    .centered-buttons {
       display: flex;
       justify-content: center;
       align-items: center;
       padding-top: 30px;
       
     }
     .custom-button {
     background-color: #399592;
     /* Otros estilos (por ejemplo, color de texto, bordes, etc.) */
   }
  </style>
  <ion-card style="display: flex; flex-direction: column; align-items: center;">
    <!-- Botón de inicio de sesión -->
    <ion-button shape="round" class="custom-buttom">Entrar</ion-button>
  
    <!-- Enlaces adicionales -->
    <a href="" target="_blank">¿Olvidaste tu contraseña?</a><br>
    <a href="" target="_blank">Política de privacidad</a>
  </ion-card>
  
  
  
<br>

<div class="centered-buttons">
  <!-- Facebook -->
  <ion-button shape="round">
    <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
  </ion-button>

  <!-- YouTube -->
  <ion-button shape="round">
    <ion-icon slot="icon-only" name="logo-youtube"></ion-icon>
  </ion-button>

  <!-- Instagram -->
  <ion-button shape="round">
    <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
  </ion-button>

  <!-- TikTok -->
  <ion-button shape="round">
    <ion-icon slot="icon-only" name="logo-tiktok"></ion-icon>
  </ion-button>

  <!-- LinkedIn -->
  <ion-button shape="round">
    <ion-icon slot="icon-only" name="logo-linkedin"></ion-icon>
  </ion-button>
</div>

<!-- Include Ionicons library -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
