<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Buscar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="Nombre del Producto" placeholder="Ingrece el nombre" required=""></ion-input>
    </ion-item>
  
    <div class="ion-padding-start">
      <ion-textarea label="Descripción"  placeholder="Ingrese la descripción" required=""></ion-textarea>
    </div>
  </ion-list>


</ion-content>
